{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <style>
        .fit {
            width: fit-content;
        }

        .grid-col-3 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
        }

        .embed-responsive-item {
            max-width: 95vw;
            max-height: 95vh;
        }

        h3,
        h4 {
            /* font-family: Gilroy; */
            font-size: 18px;
            margin-bottom: 5px;
        }
    </style>

    <body>
        <div class="container text-center my-5">
            <div class="col d-flex justify-content-center align-content-center flex-column flex-wrap">
                <div class="row">
                    <h1 class="text-primary">
                        {{ quest.name_rus }}
                    </h1>
                </div>

                <div class="row rounded bg-primary py-2 text-center text-white mt-3 fit text-center">
                    <h5 class="text-white">
                        {{ quest.description }}
                    </h5>
                </div>
            </div>
        </div>
        <div class="text-center py-3 bg-light">
            <h2>Что вас ждет:</h2>
            <!-- <p>Посетите легендарное место, откуда началась история великого города на Неве.</p>
            <p>Узнайте легенды и разгадайте тайны Петропавловской крепости:</p>
            <ul class="list-group list-group-flush">
                <li>кто охраняет город с высоты птичьего полета?</li>
                <li>в чем причина непропорциональности памятника Петру Первому?</li>
                <li>откуда здесь 12 стульев, и кто был узником бастиона?</li>
            </ul>
            <br>
            <p>Прогулка длится от 1,5 до 2 часов.</p>
            <p>Не забудьте в прохладную погоду потеплее одеться, и зарядите свои телефоны, чтобы не прерывать
                увлекательную
                прогулку.</p> -->

            <!-- {{quest.what_waits_you}} -->
            {% for p in quest.what_waits_you_list %}
            <p>{{p}}</p>
            {% endfor %}
        </div>
        <div class="container my-3">
            <h2 class="text-center">Зачем это нужно:</h2>
            <br>
            <style>
                .icont_text_group-img {
                    min-width: 45px;
                    max-width: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    margin-top: 3px;
                    padding-left: 10px;
                    margin-right: 15px;
                    position: relative;
                    display: flex;
                    align-items: center;

                }

                .icont_text_group-img img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: top center
                }
            </style>

            <div class="row">
                {% for icon in quest.why_it_need.all %}
                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                    <div class="icont_text_group-img ">

                        <img src="/quest/icons_why/{{icon.file}}" alt="{{icon.name}}">

                    </div>
                    <div class="icon_text_group-text">
                        <h3 class="fw-bold">{{icon.header}}</h3>
                        <p>{{icon.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h2 class="text-dark text-center">
                Фото
            </h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% for el in quest.photo.all %}
                    {% if not forloop.last%}
                    <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="{{forloop.counter}}" aria-current="true"
                        aria-label="Slide {{forloop.counter}}"></button>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/quest/photo/{{quest.photo.first.file}}" class="d-block w-100" alt="{{icon.name}}">
                    </div>
                    <!-- <div class="carousel-item">
                        <img src="ph/Centr otkrytij/photo/2.jpg" class="d-block w-100" alt="">
                    </div> -->
                    {% for ph in quest.photo.all %}
                    {% if not forloop.first%}
                    <div class="carousel-item">
                        <img src="/quest/photo/{{ph.file}}" class="d-block w-100" alt="">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="container text-center my-3">
            <h3 class="text-dark my-3">
                Видео
            </h3>
            {% for vid in quest.video.all %}

            <div class="conrainer d-flex justify-content-center">
                <div class="embed-responsive">
                    <video src="/quest/video/{{vid.file}}" class="embed-responsive-item rounded" controls>
                </div>
            </div>

            {% endfor %}

        </div>
        <h4 class="text-center mb-4 pb-2">Отзывы</h4>
        <section class="gradient-custom">
            <div class="container my-5 py-5">
                {% for rew in quest.reviews.all %}
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex flex-start">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                src="/quest/reviews/{{rew.photo}}" alt="avatar" width="65"
                                                height="65" />
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1 fw-bold">
                                                            {{rew.name}}
                                                        </p>

                                                    </div>
                                                    <p class="small mb-0">
                                                        {{rew.text}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </section>
    </body>

</html>